body { 
    text-align: center; 
    font-family: Arial, sans-serif; 
    background: #f8f8f8; 
    color: black; 
}

.photo-strip { 
    width: 200px; 
    padding: 10px; 
    background: #d2b48c;
    margin: auto; 
    border-radius: 10px; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photo-strip img { 
    width: 100%; 
    margin-bottom: 5px; 
}

.color-options { 
    display: flex; 
    justify-content: center; 
    margin-top: 10px; 
}

.color-btn {
    width: 30px; 
    height: 30px; 
    border-radius: 50%;
    margin: 5px; 
    cursor: pointer; 
    border: none;
}

.controls { 
    margin-top: 10px; 
}