:root {
  --pink-color: #ff0469f7;
  --skin-color: #d9c08d;
  --blue-color: #092327;
  --simple-font: "Cabin Sketch", sans-serif;
  --cursive-font: "WindSong", cursive;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: default;
}

body {
  position: relative;
  height: 100vh;
  width: 100%;
  background: radial-gradient(circle at center, #0d353b, #fdf9c9);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.photo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.photo h1 {
  font-family: var(--simple-font);
  color: var(--blue-color);
  font-weight: 700;
  font-size: 3.7rem;
  rotate: -90deg;
  margin-top: -88%;
  margin-right: -28%;
}

.photo-strip {
  width: 270px;
  padding: 12px;
  background: var(--skin-color);
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 12px 12px rgba(0, 0, 0, 0.577);
  position: relative;
  animation: dropBounce 1.5s ease-in-out;
}

@keyframes dropBounce {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  30% {
    transform: translateY(0px);
    opacity: 1;
  }
  50% {
    transform: translateY(-40px); /* First bounce */
  }
  70% {
    transform: translateY(0px);
  }
  85% {
    transform: translateY(-10px); /* Second bounce */
  }
  100% {
    transform: translateY(0px);
  }
}

.photo-strip p {
  font-family: var(--cursive-font);
  font-weight: 700;
  font-size: 1rem;
  padding: 11px;
}

.photo-strip img {
  width: 100%;
  margin-bottom: 8px;
}

.color-options {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  margin-top: 10px;
}

.color-btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
  border: none;
}

.controls {
  margin-top: 10px;
}

.controls button {
  height: 50px;
  width: 130px;
  padding: 10px;
  font-size: 1.1rem;
  border-radius: 50px;
  border: 3px solid var(--skin-color);
  color: var(--blue-color);
  background: #d9c08d3d;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 0 7px;
}

.controls button:hover {
  background: var(--skin-color);
  color: var(--pink-color);
}

.footer {
  margin-top: 13px;
  font-size: 0.9rem;
  text-align: center;
  font-family: var(--simple-font);
  color: var(--blue-color);
}

.footer a {
  text-decoration: none;
  color: var(--skin-color);
  cursor: pointer;
}

.footer i {
  color: var(--pink-color);
}
